/* body {
    background:url(https://i.natgeofe.com/k/8fa25ea4-6409-47fb-b3cc-4af8e0dc9616/red-eyed-tree-frog-on-leaves-3-2_2x1.jpg);
    background-repeat: no-repeat;
} */

div{
    background: blue;
    border: red 10px dashed; 
    border-width: thick;
    border-style: solid;
}